<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jelly_bearbig_z76_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{165,156}</string>
                <key>spriteSourceSize</key>
                <string>{175,164}</string>
                <key>textureRect</key>
                <string>{{2,162},{165,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jelly_bearbig_z76_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{167,158}</string>
                <key>spriteSourceSize</key>
                <string>{175,164}</string>
                <key>textureRect</key>
                <string>{{2,2},{167,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jelly_bearice_z76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,66}</string>
                <key>textureRect</key>
                <string>{{2,374},{62,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jelly_bearpink_fly_z76_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{66,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,66}</string>
                <key>textureRect</key>
                <string>{{171,2},{66,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jelly_bearpink_fly_z76_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{66,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,66}</string>
                <key>textureRect</key>
                <string>{{171,64},{66,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jelly_bearpink_fly_z76_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{66,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,66}</string>
                <key>textureRect</key>
                <string>{{171,126},{66,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jelly_bearpink_z76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,66}</string>
                <key>textureRect</key>
                <string>{{2,438},{62,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jelly_bearyellow_fly_z76_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{66,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,66}</string>
                <key>textureRect</key>
                <string>{{169,188},{66,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jelly_bearyellow_fly_z76_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{66,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,66}</string>
                <key>textureRect</key>
                <string>{{169,250},{66,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jelly_bearyellow_fly_z76_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{66,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,66}</string>
                <key>textureRect</key>
                <string>{{169,312},{66,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jelly_bearyellow_z76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,66}</string>
                <key>textureRect</key>
                <string>{{64,320},{62,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bear_jelly_z76.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1dc8a732d92de2e8ef2ad4e7994b90f3:5683673ed9184a907052eeb6da187bb7:d9dab1ff1fc192699065b222644f44ce$</string>
            <key>textureFileName</key>
            <string>bear_jelly_z76.png</string>
        </dict>
    </dict>
</plist>
